---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About ðŸ‘">
    <!-- Ich bin ein HTML-Kommentar -->
    {/* Ich bin ein mehrzeiliger 
    JavaScript Kommentar */}
    <h1>About me</h1>
</Layout>